.groupo_aside {
  background: rgba(255, 0, 0, 0.3);
  border-radius: 25px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 5px #cccccc;
  grid-column: 2/3;
  grid-row: 1/3;
}

.form_tool {
  border-radius: 5px;
}

.prof_pic {
  margin-top: 25px;
  width: 250px;
  border-radius: 25px;
}

.groupo_aside h2 {
  text-decoration: underline;
  margin-bottom: 12px;
}

.styled_font_2 {
  font-family: "Comforter", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 48px;
  color: #966210;
  text-decoration: underline;
}

.aside_bio {
  padding: 0px 15px;
  text-align: justify;
  text-justify: inter-word;
}

.aside_date {
  font-size: 0.8em;
}

.aside_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupo_logo {
  width: 300px;
}

.groupo_banner {
  color: black;
  text-align: right;
  padding: 20px;
  height: 130px;
}

.groupo_navbar {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 70px;
  margin-left: 100px;
  background: #fdca77;
  width: 250px;
  height: 45px;
  border-radius: 15px;
  padding-top: 12px;
  box-shadow: 2px 3px 5px #cccccc;
}

.groupo_check {
  display: flex;
  position: relative;
  bottom: 150px;
  align-items: center;
  margin-left: 100px;
  padding-left: 10px;
  background: #fdca77;
  width: 240px;
  height: 18px;
  border-radius: 15px;
  font-size: 0.8em;
  color: white;
  box-shadow: 2px 3px 5px #cccccc;
}

.fas {
  color: white;
  font-size: 1.8em;
}

.fas:hover {
  color: #bbc3c2;
  font-size: 2.4em;
}

.logo_anim {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  animation: logo-spin infinite 8s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.styled_font {
  font-family: "Comforter", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 48px;
  color: #fdca77;
}

.colored_font {
  color: #fdca77;
}

#transition {
  height: 20px;
  background: rgba(255, 0, 0, 0.1);
}

#groupo_feed {
  margin: 0px 50px;
  padding-top: 30px;
  border: 3px solid rgba(255, 0, 0, 0.3);
  border-radius: 25px;
  grid-column: 1/2;
  grid-row: 2/4;
  box-shadow: 2px 3px 5px #cccccc;
}

.groupo_trees {
  margin: 0px 40px;
  padding: 10px 20px 0px 20px;
  background: #badfbb;
  border-radius: 15px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 300;
  font-size: 0.9em;
  display: flex;
  align-items: flex-end;
  box-shadow: 2px 3px 5px #cccccc;
}

.tree_count {
  font-weight: bold;
}

.tree_count:hover {
  font-weight: 1.2em;
}

#mess_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  margin: 10px;
  border-radius: 25px;
  width: 75%;
  background: rgba(255, 0, 0, 0.05);
}

.messages p {
  margin: 0px;
}

.messages_top {
  padding: 0px 0px 15px 15px;
}

.message_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8em;
  background: rgba(255, 0, 0, 0.1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0px 60px 0px 50px;
}

#main_page {
  min-height: 1200px;
  margin: 30px;
  display: grid;
  grid-template-columns: calc(100% - 380px) 350px;
  grid-column-gap: 40px;
  grid-template-rows: 70px 800px auto;
  grid-column-gap: 30px;
}

h2 {
  text-align: center;
  color: #140F2D;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 120%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex_center {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_pic {
  margin: 20px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 2px 3px 5px #cccccc;
}

.form_tools {
  margin: 5px;
  border-radius: 5px;
}

.profile_main {
  width: 70%;
  background: rgba(255, 0, 0, 0.3);
  border-radius: 25px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 5px #cccccc;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
