#main_page{
  min-height: 1200px;
  margin: 30px;

  display: grid;
  grid-template-columns: calc(100% - 440px) 350px ;
  grid-column-gap: 30px;

  grid-template-rows: 80px 800px auto;
  grid-row-gap: 30px;
}

h2 {
  text-align: center;
  color: #140F2D;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 120%;
}


a { 
  color: inherit;
  text-decoration:none;
} 



/* Tablet AND Mobile Display */

@media screen and (max-width:1200px) {
  #main_page {
    display: flex;
    flex-direction: column;
  }
}


/* Mobile Display only*/
@media only screen and (max-width: 479px) {
  #main_page {
  margin: 30px 10px;
  }
}

