#main_page{
  min-height: 1200px;
  margin: 30px;

  display: grid;
  grid-template-columns: calc(100% - 380px) 350px ;
  grid-column-gap: 40px;

  grid-template-rows: 70px 800px auto;
  grid-column-gap: 30px;


}

h2 {
  text-align: center;
  color: #140F2D;
}



body {
  font-family: 'Poppins', sans-serif;
  line-height: 120%;
}


a { 
  color: inherit;
  text-decoration:none;
} 
