.groupo_logo {
  width: 300px;
}

h1 {
  font-size: 1em;
  font-weight: 400;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}


.groupo_banner {
  color: black;
  text-align: right;
  padding: 20px;
  height: 130px;
}

.groupo_navbar {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 70px;
  margin-left: 100px;
  background:#fdca77;
  width: 290px;
  height: 45px;
  border-radius: 15px;
  padding-top: 12px;
  box-shadow: 2px 3px 5px #cccccc;
}

.groupo_check {
  display: flex;
  position: relative;
  bottom: 150px;
  align-items: center;
  margin-left: 100px;
  padding-left: 10px;
  background:#fdca77;
  width: 280px;
  height: 18px;
  border-radius: 15px;
  font-size: 0.9em;
  color: rgb(0, 0, 0, 0.6);
  box-shadow: 2px 3px 5px #cccccc; 
}

.fas {
  color: white;
  font-size: 1.8em;
}

.navbar_icon:hover {
  color: hsl(171, 6%, 75%);
  font-size: 2.4em;
}

.logo_anim {
  position: absolute;
  top: 0px; left: 0px;

  height: 100px;
  animation: logo-spin infinite 8s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styled_font {
font-family: 'Comforter', cursive;
font-weight: bold;
font-style: italic;
font-size: 48px;
color: #b87f24;
}

.colored_font {
  color: #92651c;
}
 
#transition {
  height: 20px;
  background: rgb(255, 0, 0, 0.1);
}



/* MEDIA QUERIES */

/* Tablet Display */
@media screen and (min-width:480px) and (max-width:1200px) {
  .groupo_banner {
    display: flex;
    flex-direction: column;
    height: 220px;
  }
  .groupo_logo {
    align-self: flex-end;
  }
  .groupo_navbar {
    right: 80px;
    bottom: 0px;
  }
  .groupo_check {
    right: 80px;
    top: 8px;
  }
  .logo_anim {
    height: 80px;
  }
}


/* Mobile Display */
@media only screen and (max-width: 479px) {
  .logo_anim, .groupo_check {
    display: none;
  }
  .groupo_banner {
    display: flex;
    flex-direction: column;
    height: 260px;
  }
  .groupo_navbar {
    align-self: center;
    bottom: 0px;
    margin: 10px 0px;
  }
  .groupo_logo {
    margin-bottom: 10px;
  }
}