.groupo_logo {
  width: 300px;
}

.groupo_banner {
  color: black;
  text-align: right;
  padding: 20px;
  height: 130px;
}


.groupo_navbar {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 70px;
  margin-left: 100px;
  background:#fdca77;
  width: 250px;
  height: 45px;
  border-radius: 15px;
  padding-top: 12px; 
}



.groupo_check {
  display: flex;
  position: relative;
  bottom: 150px;
  align-items: center;
  margin-left: 100px;
  padding-left: 10px;
  background:#fdca77;
  width: 240px;
  height: 18px;
  border-radius: 15px;
  font-size: 0.8em;
  color: white; 
}


.fas {
  color: white;
  font-size: 1.8em;
}


.fas:hover {
  color: hsl(171, 6%, 75%);
  font-size: 2.4em;
}


.logo_anim {
  position: absolute;
  top: 0px; left: 0px;

  height: 100px;
  animation: logo-spin infinite 8s linear;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.styled_font {
font-family: 'Comforter', cursive;
font-weight: bold;
font-style: italic;
font-size: 48px;
color: #fdca77;
}

.colored_font {
  color: #fdca77;
}
 

#transition {
  height: 20px;
  background: rgb(255, 0, 0, 0.1);
}