.profile_main {
  width: 70%;
  background: rgb(255, 0, 0, 0.1);
  border-radius: 25px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 5px #cccccc;
}

.profile_main button {
  margin-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 20px 0px;

}

.flex_center_aligned {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}


.profileupdate_form {
  background: rgb(255, 0, 0, 0.2);
  border-radius: 25px;
  width: 90%;
  margin: 40px 0px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 5px #cccccc;
  font-size: 0.8em;

}


.profileupdate_current {
  background: rgb(255, 0, 0, 0.2);
  width: calc(90% - 60px);
  border-radius: 25px;
  margin-top: 30px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 3px 5px #cccccc;
  font-size: 0.8em;


}

.profileupdate_current p {
  margin: 0px 0px 3px 0px;
}


.full_width {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_start_update {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    min-height: 50px;
}

.flex_start_update div p {
  margin: 0px;
  color: rgb(255, 0, 0, 0.7)
}

.profileupdate_form p {
  margin-top: 0px;
}


.flex_center_password {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.flex_center_password p {
  color: black !important;
}



/* Mobile Display */
@media only screen and (max-width: 479px) {
  .profile_main {
    width: 100%;
  }
  .flex_start_update p {
    margin: 15px 0px 0px 0px;
  }
  .margin_top {
    margin: 15px 0px 0px 0px !important;
  }
  .flex_center_password {
    margin-bottom: 0px;
  }
  .flex_start_update {
    display: flex;
    width: 80%;
    flex-direction: column;
}
}



/* Tablet Display */
@media screen and (min-width:480px) and (max-width:1200px) {
  .signup_field {
    width: 180px !important;
  }
  .profileupdate_form {
    font-size: 0.9em;
  }

}