.flex_start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  min-height: 50px;
}

.flex_start  p {
  margin-top: 0px;
}

.flex_start div p {
  margin: 0px;
  color: rgb(255, 0, 0, 0.7)
}

.signup_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px
}

.signup_form {
  background: rgb(253, 202, 119, 0.7);
  border-radius: 25px;
  margin-top: 40px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 5px #cccccc;
  width: 1000px;
  font-size: 0.9em;
}

.signup_field {
  margin: 0px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.field_bio {
  height: 100px;
}

.signup_form button {
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}

.black {
  color: black !important;
  align-self: flex-start;
}

.small {
  font-size: 0.9em;
  font-weight: 300;
  width: 80%;
}




/* Mobile Display */
@media only screen and (max-width: 479px) {
  .signup_form {
    width: 95%;
    max-width: 800px;
  }
  .flex_start {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .flex_start p {
    margin-bottom: 0px;
  }
  .flex_center_aligned {
    margin-bottom: 0px;
  }
}



/* Tablet Display */
@media screen and (min-width:480px) and (max-width:1200px) {
  .signup_form {
    width: 95%;
    max-width: 800px;
  }
  .flex_start {
    width: 90%;
    max-width: 500px;
  }
}